<div class="absolute">
  <div class="navigation" [ngClass]="{'w-[80px]': !expandedMenu, 'w-[300px]': expandedMenu}">
    <ul class="navigation_ul">
        <li class="navigation_ul_li">
            <a class="navigation_ul_li_a">
                <span class="icon">
                  <ion-icon name="{{ Logo?.iconUrl }}"></ion-icon>
                </span>
                <span class="title"> {{ Logo?.moduleName }} </span>
            </a>
        </li>

        <li [ngClass]="{'active': item.url === currentRoute}" *ngFor="let item of Modules" class="navigation_li_active navigation_ul_li" [attr.data-url-li]="item.url" id="{{item.moduleId}}" (click)="fnNavigate(item.moduleId, item.url)">
            <a class="navigation_ul_li_a" >
                <span class="icon">
                    <ion-icon name="{{ item.iconUrl }}"></ion-icon>
                </span>
                <span class="title"> {{ item.moduleName}} </span>
            </a>
        </li>

    </ul>
  </div>
</div>
